@page
@model HospiEnCasa.WebApp.Pages.Personas.Roles
@{
    ViewData["Title"] = "Registro de de Roles";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["mensaje"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row m-4" style="padding-top: 10px;">
    <div class="col-sm-12">

        <button style="width: auto; type="button" class="btn btn-primary" data-toggle="modal" data-target="#FormModal2">Rol</button>
        <a style="width: auto;" class="btn btn-primary" asp-page="/Personas/GestionPersona">Ir a Personas</a>
    </div>

</div>


<div id="container" class="app-title">
    <div class="row">
        <div margin:0 class="col-12 table-responsive">
            <table id="customerDatatable" class="table table-striped table-bordered nowrap" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Rol</th>
                        <th>Password</th>
                        <th>Persona</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rol in Model.listado_Rol)
                    {
                        <tr>
                            <td scope="row">@rol.id</td>
                            <td>@rol.tipo_Rol</td>
                            <td>@rol.password</td>
                            <td>@rol.persona.nombre @rol.persona.apellidos</td>
                            <td>
                              <a title="Ver" class="btn btn-info btnVer " id="btnVer"><i
                                    class="fa-sharp fa-solid fa-eye"></i></a>
                                <a title="Editar" class="btn btn-success " id="btnEdit"><i
                                    class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                                <a title="Eliminar" class="btn btn-danger btnEliminar" ><i
                                    class="fa-regular fa-trash-can"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Registro de roles  -->
<div class="modal fade" id="FormModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header " style="background-color:#2668AC ;">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo registro - Asignación rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <p class="text-primary">
                        Los campos con asterisco (<font color="red">*</font>) son obligatorios.
                    </p>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Usuario (<font color="red">*</font>)</label>
                            <select name="persona" type="persona" class="form-control" required="">
                                <option value="" selected="selected">Seleccionar..</option>
                                @foreach (var persona in Model.listadoPersona)
                                {
                                    <option value="@persona.id">@persona.nombre</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Rol(<font color="red">*</font>)</label>
                            <input type="text" class="form-control" name="rol" id="rol" placeholder="Rol" minlength="5"
                                maxlength="20" required="">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Password(<font color="red">*</font>)</label>
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Password" minlength="5" maxlength="10" required="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="width: auto;"  type="reset" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <button style="width: auto;"  type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
