@page 
@model HospiEnCasa.WebApp.Pages.Impresion3D.GestionImpresion3D
@{
    ViewData["Title"] = "Registro de Impresiones 3D";
}

<h1>@ViewData["Title"]</h1>


@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">  
        @TempData["mensaje"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row m-4" style="padding-top: 10px;">
    <div class="col-sm-12">
        <button style="width: auto;" type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#FormModal">Impresiones 3D
        </button>
    </div>
</div>


<div id="container" class="app-title">
    <div class="row">
        <div margin:0 class="col-12 table-responsive">
            <table id="customerDatatable" class="table table-striped table-bordered nowrap" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cliente</th>
                        <th>Tipo de impresión</th>
                        <th>Cantiddad</th>
                        <th>Precio</th>                       
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var _impresion in Model.listadoImpresion3D)
                    {
                        <tr>
                            <td scope="row">@_impresion.id</td>
                            <td>@_impresion.cliente</td>
                            <td>@_impresion.Tipo_impresion</td>
                            <td>@_impresion.cantidad</td>
                            <td>@_impresion.precio</td>                                                      
                            <td>
                                <a title="Ver" class="btn btn-info btnVer " id="btnVer"><i class="fa-sharp fa-solid fa-eye"></i></a>
                                <a asp-page="./EditImpresion3d" asp-route-id="@_impresion.id" title="Editar" class="btn btn-success "><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                                  <a title="Eliminar" class="btn btn-danger btnEliminar" ><i
                                    class="fa-regular fa-trash-can"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

 

@* Insertar *@
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header " style="background-color:#2668AC ;">

                <h5 class="modal-title"  style="color:#FFFDEE ;" id="exampleModalLabel">Nuevo Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <p class="text-primary">
                        Los campos con asterisco (<font color="red">*</font>) son obligatorios.
                    </p>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Cliente (<font color="red">*</font>)</label>
                            <input type="text" id="cliente" name="cliente" class="form-control" placeholder="Cliente"
                                required="">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Tipo de impresón(<font color="red">*</font>)</label>
                            <input type="text" id="impresion3d" name="impresion3d" class="form-control"
                                placeholder="Tipo de impresón" required="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Cantidad (<font color="red">*</font>)</label>
                            <input type="text" id="cantidad" name="cantidad" class="form-control" placeholder="Cantidad"
                                required="">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Precio(<font color="red">*</font>)</label>
                            <input type="text" id="precio" name="precio" class="form-control" placeholder="Precio"
                                required="">
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button style="width: auto;" type="reset" class="btn btn-danger"
                            data-dismiss="modal">Cerrar</button>
                        <button style="width: auto;" type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* eliminar *@
<div class="modal" tabindex="-1" role="dialog" id="modalEliminar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">          
            <div class="modal-header" style="background: #14465b;">
                <h5 class="modal-title" style="color:#FFFDEE ;">Impresiones 3D</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times; </span>
                    </botón>
            </div>
            <div class="modal-body">
                <h3 class=" text-align: center;"> ¿Deseas eliminar la Impresión 3D de?</h3>
                <input type="hidden" name="idImpresion3dEliminar" id="idImpresion3dEliminar">
                <input  style="border: 0;" type="text" name="idNombreEliminar" id="idNombreEliminar" disabled>
            </div>
            <div class="modal-footer">
                <button type="Submit" class="btn btn-primary">Si</button>
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@* ver *@
<div class="modal fade" id="modalViewCliente" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-primary" style="background: #14465b;">
                <h5 class="modal-title" style="color:#FFFDEE ;" id="titleModal">Datos de la impresión 3D</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background: #b4dcee;">
                <form method="post">
                    <p class="text-primary">
                    </p>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Cliente</label>
                        </div>
                        <div class="form-group col-md-8">
                            <input style="border: 0;" type="text" id="VerCliente" name="VerCliente" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Cantidad</label>                            
                        </div>
                        <div class="form-group col-md-8">
                            <input style="border: 0;" type="text" id="verCantidad" name="verCantidad" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <td>Precio</td>
                        </div>
                        <div class="form-group col-md-8">
                            <input style="border: 0;" type="text" id="verPrecio" name="verPrecio" disabled>
                        </div>                                 
                        <hr>
                    </div>
                    <div class="modal-footer">
                        <button style="width: auto;" type="reset" class="btn btn-danger"
                            data-dismiss="modal">Cerrar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
