@page
@model HospiEnCasa.WebApp.Pages.Impresion3D.GestionImpresion3D
@{
    ViewData["Title"] = "Gestionar Impresiones 3D";
}

<h1>@ViewData["Title"]</h1>



<div class="row m-4" style="padding-top: 10px;">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FormModal">Impresiones 3D
        </button>
    </div>

</div>

<div id="container" class="container">
    <div margin:0 class="col-sm-12">
        <table id="customerDatatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Tipo de impresión</th>
                    <th>Cantiddad</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                try( 
                    
                 @foreach (var _impresion in Model.listadoImpresion3D)
                    {
                        <tr>
                            <td scope="row">@_impresion.id</td>
                            <td>@_impresion.cliente</td>         
                            <td>@_impresion.Tipo_impresion</td>                       
                            <td>@_impresion.cantidad</td>       
                            <td>@_impresion.precio</td>                                                      
                            <td>
                                <a asp-controller="Registro" asp-action="Edit" asp-route-id="1" class="btn btn-info">Editar</a>                      
                                <a asp-controller="Registro" asp-action="Delete" asp-route-id="1"
                                class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }                

                )catch(Exception ex)
                (

                )
                       
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header " style="background-color:#2668AC ;">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <p class="text-primary">
                        Los campos con asterisco (<font color="red">*</font>) son obligatorios.
                    </p>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Cliente (<font color="red">*</font>)</label>
                            <input type="text" id="cliente" name="cliente"class="form-control" placeholder="Cliente" required="">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Tipo de impresón(<font color="red">*</font>)</label>
                            <input type="text"id="impresion3d" name="impresion3d" class="form-control" placeholder="Tipo de impresón" required="">
                    </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Cantidad (<font color="red">*</font>)</label>
                            <input type="text"id="cantidad" name="cantidad" class="form-control" placeholder="Cantidad" required="">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Precio(<font color="red">*</font>)</label>
                            <input type="text"id="precio" name="precio" class="form-control" placeholder="Precio" required="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
