@page
@model HospiEnCasa.WebApp.Pages.Repuestos.GestionRepuesto
@{
    ViewData["Title"] = "Gestione Repuestos";
}

<h1>@ViewData["Title"]</h1>


<div class="row m-4" style="padding-top: 10px;">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FormModal">Registrar
        </button>
    </div>
  
</div>

<div id="container" class="container">
    <div margin:0 class="col-sm-12">
        <table id="customerDatatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tipo de repuesto</th>
                        <th>Cantidad</th> 
                        <th>Precio</th>                         
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var repuestos in Model.listadoRepuestos)
                {
                    <tr>
                        <td scope="row">@repuestos.id</td>
                        <td>@repuestos.n_Repuesto</td>
                        <td>@repuestos.valor</td>      
                        <td>@repuestos.cantidad</td>                    
                        <td >
                            <a asp-controller="Registro" asp-action="Edit" asp-route-id="1" class="btn btn-info">Editar</a>                       
                            <a asp-controller="Registro" asp-action="Delete" asp-route-id="1"class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }                
                </tbody>
            </table>
    </div>
</div>


<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header " style="background-color:#2668AC ;" >
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Registro - Repuestos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <p class="text-primary">
                        Los campos con asterisco (<font color="red">*</font>) son obligatorios.
                    </p>
                    <div class="form-row" style="padding-top:14px;">

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Tipo de Repuesto (<font color="red">*</font>)</label>
                                <input type="text" class="form-control" id="repuesto" name="repuesto" placeholder="Tipo de Repuesto" minlength="4" maxlength="40" required="">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Precio(<font color="red">*</font>)</label>
                                <input type="number" class="form-control" id="precio" name="precio" placeholder="Precio" minlength="4" maxlength="10" required="">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Cantidad(<font color="red">*</font>)</label>
                                <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Cantidad" minlength="1" maxlength="200" required="">
                            </div>
                        </div>
                    </div>
                        <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" >Guardar</button>
                    </div>         
                </form>
            </div>
           
        </div>
    </div>
</div>
